.gallery-view {
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
}

.gallery-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 100%;
    margin: 0px 50px 0px 50px;
}

.description {
    flex: 1;
    height: 100%;
    width: 200px;
    padding: 20px 50px 20px 50px;
    background-color: rgb(244, 219, 162);
    border-radius: 5px;
    font-family: 'Literata', serif;
    box-shadow: 0px 0px 15px 15px rgb(244, 219, 162);
}

.description span {
  color: black;
  font-size: 40px;
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 100%;
  padding: 0px 50px 0px 50px;
}

.artwork-container {
  height: 500px;
  width: 1000px;
  background-color: black;
  border: 4px solid rgb(255, 215, 0);
  max-width: 100%;
  margin: 0px 0px 0px 100px;
}

.artwork-container img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.vert-item {
  flex: 1;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 100%;
}

.hor-item {
  flex: 1;
  margin-top: 10px;
  width: 100%;
}

.hor-item span {
  font-family: 'Literata', serif;
  font-size: 30px;
  color: white;
  padding-right: 200px;
}

.hor-item1 {
  margin-top: 10px;
  flex: .1;
  width: 100%;
}

.hor-item1 span {
  font-family: 'Literata', serif;
  white-space: pre;
  font-size: 30px;
  color: white;
}